.container {
	background-color: #F9F9F9;
	.editor-container {
		width: 100%;
		overflow-x: scroll;
		.editor-border {
			display: inline-block;
			position:relative;
			.page-title {
				font-size: 24px;
				font-weight: lighter;
			}
			.uk-button {
				border-radius: 4px;
			}
			.bg-font{
				position:absolute;
				left: 20px;
    		color: #ccc;
    		.uk-text-bold{
    			font-weight:bold;
    		}
			}
		}
	}
}
.font-load-modal {
	.libre-barcode-39 {
		font-family: "Libre Barcode 39";
	}
	.libre-barcode-39-text {
		font-family: "Libre Barcode 39 Text";
	}
}