.number-filed {
    margin-bottom: 10px;
    .number-field-row {
        display: flex;
        align-items: center;
        label {
            flex-shrink: 0;
            width: 80px;
            font-size: 11px;
            text-align: left;
            color: #666;
        }
        input {
            font-size: 11px;
            flex: 1;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 4px 10px;
            width: 90px;
            text-transform: uppercase;
        }
    }
}